body:has(.landing){
    min-height: 100svh !important;
}

.landing {
    background: radial-gradient(circle at 30% 30%, #197EF2, #0067DC);
    width: 100svw !important;
    height: 100svh !important;
    min-height: 100svh !important;
    overflow: hidden;
    position: relative;

    .VPHome {
        background: url('/background.jpg') center;
        background-size: cover;
        padding: 0 !important;
        width: 100svw !important;
        height: 100svh !important;

        > div{
            position: unset !important;
        }
    }

    .VPFooter{
        display: none;
    }

    h1, .h1 {
        color: white;
        font-family: "JetBrains Mono", monospace;
        font-size: 16px;
        line-height: 21px;
        font-weight: bold;
        text-transform: uppercase;
        text-wrap: pretty;
        cursor: default;
    }

    h2, .h2 {
        color: white;
        line-height: 1.5;
        font-size: 20px;
        font-family: "Homemade Apple", sans-serif;
        z-index: 3;
        cursor: default;
        user-select: none;
    }

    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        height: 80px;
        user-select: none;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
