.landing {
    background: radial-gradient(circle at 30% 30%, #197EF2, #0067DC);
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    position: relative;

    .VPHome {
        background: url('/background.jpg') center;
        background-size: cover;
        padding: 0 !important;
        width: 100vw !important;
        height: 100vh !important;

        > div{
            position: unset !important;
        }
    }

    h1, .h1 {
        color: white;
        font-family: "JetBrains Mono", monospace;
        font-size: 16px;
        line-height: 21px;
        font-weight: bold;
        text-transform: uppercase;
        text-wrap: pretty;
        cursor: default;
    }

    h2, .h2 {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-family: "Homemade Apple", sans-serif;
        z-index: 3;
        cursor: default;
        user-select: none;
    }

    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        height: 87px;
        user-select: none;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
